image:
  repository: ghcr.io/thedragonshaman/auralarchive
  tag: v0.1.2
  pullPolicy: Always

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0

service:
  main:
    ports:
      main:
        port: 8765

workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              path: "/health"
            readiness:
              path: "/health"
            startup:
              path: "/health"
          env:
            DOCKER_CONTAINER: "true"
            ABS_SYNC_PAGE_SIZE: "500"
            PORT: "{{ .Values.service.main.ports.main.port }}"

persistence:
  config:
    enabled: true
    mountPath: /config
  downloads:
    enabled: true
    mountPath: /downloads
  import:
    enabled: true
    mountPath: /import
