global:
  fallbackDefaults:
    storageClass:
    probeType: http
    serviceProtocol: tcp
    serviceType: ClusterIP
    persistenceType: pvc
    pvcRetain: false
    pvcSize: 100Gi
    vctSize: 100Gi
    accessModes:
      - ReadWriteMany
    vctAccessModes:
      - ReadWriteMany
    probeTimeouts:
      liveness:
        initialDelaySeconds: 10
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 5
        successThreshold: 1
      readiness:
        initialDelaySeconds: 10
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 5
        successThreshold: 2
      startup:
        initialDelaySeconds: 10
        periodSeconds: 5
        timeoutSeconds: 2
        failureThreshold: 60
        successThreshold: 1

image:
  repository: ghcr.io/thedragonshaman/auralarchive
  tag: latest
  pullPolicy: Always

# @ignore
argoCD: false
# @ignore
debug: false
# @ignore
redis:
  enabled: false
# @ignore
postgresql:
  enabled: false
# @ignore
mariadb:
  enabled: false
# @ignore
mongodb:
  enabled: false
# @ignore
clickhouse:
  enabled: false
# @ignore
solr:
  enabled: false

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0

service:
  main:
    ports:
      main:
        port: 8765

workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              path: "/health"
            readiness:
              path: "/health"
            startup:
              path: "/health"
          env:
            DOCKER_CONTAINER: "true"
            ABS_SYNC_PAGE_SIZE: "500"
            PORT: "{{ .Values.service.main.ports.main.port }}"

# @ignore
addons:
  codeserver:
    enabled: false

persistence:
  config:
    enabled: true
    mountPath: /config
  downloads:
    enabled: true
    mountPath: /downloads
  import:
    enabled: true
    mountPath: /import
