apiVersion: v1
kind: ConfigMap 
metadata:
  name: {{ include "servarr.fullname" . }}-init-scripts
  labels:
    {{- include "servarr.labels" . | nindent 4 }}
  annotations:
    {{- include "servarr.annotations" . | nindent 4 }}
    #{{- if not .Values.argoCD }}
    helm.sh/hook: pre-install
    helm.sh/hook-weight: "-5"
    #{{- if not .Values.debug }}
    helm.sh/hook-delete-policy: hook-failed
    #{{- end }}
    #{{- end }}

    #{{- if .Values.argoCD }}
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/sync-wave: "-5"
    #{{- end }}
data:
{{ ( tpl (.Files.Glob "config/scripts/*" ).AsConfig . ) | indent 2 }}
{{ if .Values.indexers }}
  indexers.json: {{ $.Values.indexers | toJson | quote}}
{{ end }}
